{% extends 'base.html' %}

{% block content %}

<div class="row">
  <h2>Data</h2>
</div>
<div class="row">
  <div class="col">
    <table id="data-table" class="table table-striped">
      <thead>
        <tr>
          {% for col_name in column_headers %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          {% for col_name in column_headers %}
          <td>{{ row[col_name] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <h2>Employee in department chart</h2>
</div>
<div class="row">
  <div class="col">
    <div id="employee-in-department-chart"></div>
  </div>
</div>

<div class="row">
  <h2>Time spent in company per each department chart</h2>
</div>
<div class="row">
  <div class="col">
    <div id="time_spent_in_company_per_dep_chart"></div>
  </div>
</div>


<div class="row">
  <h2>Correlation chart</h2>
</div>
<div class="row">
  <div class="col">
    <div id="correlation_chart"></div>
  </div>
</div>
<div class="row">
  <h2>Predict Employee Turnover Rate</h2>
</div>
<div class="row">
  <h4>Input emplyee information</h4>
</div>
<div>
  

  <form>
    <div class="form-group row">
      <label for="Satisfaction level" class="col-sm-2 col-form-label">Satisfaction level</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="Satisfaction level" >
      </div>
    </div>
    <div class="form-group row">
      <label for="Last evaluation" class="col-sm-2 col-form-label">Last evaluation</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="Last evaluation" >
      </div>
    </div>
    <div class="form-group row">
      <label for="Number project" class="col-sm-2 col-form-label">Number project</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="Number project" >
      </div>
    </div>
    <div class="form-group row">
      <label for="Time spend company" class="col-sm-2 col-form-label">Time spend company</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="Time spend company" >
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" onclick="alert('Not implemented yet')" class="btn btn-primary">Predict</button>
      </div>
    </div>
  </form>
</div>




<script type="text/javascript">
  // Basic example
  $(document).ready(function () {
    $('#data-table').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>



<script type="text/javascript">
  var employee_in_department_chart = {{employee_in_department_chart | safe}};

  Plotly.plot("employee-in-department-chart", // the ID of the div, created above
              employee_in_department_chart.data,
              employee_in_department_chart.layout);

  var time_spent_in_company_per_dep_chart = {{time_spent_in_company_per_dep_chart | safe}};
  Plotly.plot("time_spent_in_company_per_dep_chart", // the ID of the div, created above
              time_spent_in_company_per_dep_chart.data,
              time_spent_in_company_per_dep_chart.layout);

  var correlation_chart = {{correlation_chart | safe}};
  Plotly.plot("correlation_chart", // the ID of the div, created above
              correlation_chart.data,
              correlation_chart.layout);
      
</script>
{% endblock %}